@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,300&display=swap');
body{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    background-color: #ECF0F3;
}
.container{
    height: 500px;
    width: 350px;
    position: relative;
    margin-top: 100px;
    margin-left: 600px;
    border-radius: 20px;
    background: #ECF0F3;
    box-shadow: 14px 14px 20px #CBCED1 , -14px -14px 20px white;
}
.brand-title{
  font-weight: 900;
  font-size: 40px;
  color: #1DA1F2;
  letter-spacing: 1px;
  padding: 30px;
}
.inputs{
    text-align: center;
    margin-top: 0px;
}
input,label,button{
    width: 100%;
    background-color:  #ECF0F3;
    border: none;
    outline: none;
    font-size: 20px;
}
input::placeholder{
    color: gray;
}
input{
    width: 330px;
    background-color:  #ECF0F3;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #CBCED1, inset -6px -6px 6px white;
}
button{
    margin-top: 50px;
    width: 330px;
    background-color: #1DA1F2;
    height: 40px;
    border-radius: 20px;
    font-weight: 900;
    cursor: pointer;
    box-shadow: 6px 6px 6px #CBCED1, -6px -6px 6px white;
}
button:hover {
    box-shadow: none;
}